.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
  font-family: Arial, Helvetica;
}
#projects {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}
nav {
  font-family: Arial;
}
